body{
    font-family: 'Creepster', cursive;
font-family: 'Syncopate', sans-serif;
margin-top: 5%;
}
header{
    position: relative;
    align-items: center;
    margin-left: 10%;
}

.logo {
    flex-direction:row;
    display: flex;
    position: absolute;
    font-size: 3rem;
    color: rgb(47, 255, 64);
}

.menu {
    flex-direction:row;
    display: flex;
    font-style: italic;
    font-weight: 200;
    font-size: 3rem;
    margin-left: 80%;
    margin-right: 5%;
   white-space: nowrap;
   flex-wrap: wrap;
 

}
.menu a {
    display: block;
    margin-left: 5px;
    
   
}

.img1{
    width: 40%;
    margin-left: 30%;
    position: absolute;
    transform: rotate(40deg);
   
 

    
}

.accroche{
    position: relative;
    margin-left: 10%;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 20%;
    color: rgb(255, 0, 221);
}

img{
    flex-direction: column-reverse;
    width: 50%;
    margin-bottom: 30%;
   
   
   
    
}




.produit1{
    margin-top: 25%;
    flex-direction:row;
    display: flex;
   margin-left: 15%;
    


}

.produit{
    margin-top: 5%;
    flex-direction:row;
    display: flex;
   margin-left: 15%;
    border: 4px solid rgb(0, 0, 0);
    


}

.nom{
    font-weight: bold;
}

.prix{
    font-weight: lighter;

}


.info{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.spacer{
   
    width: 2rem;
    min-width: 2rem;

}

.information{
    display: flex;
    justify-content: center;
}

